**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
.terraform.lock.hcl
variables.tf
db
amazon-s3-and-cloudfront.zip
packer/wordpress_modules
wp
